name: ci

on:
  push:
    tags-ignore:
      - 'v*.*.*'
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

env:
  NODE_VERSION: '24'

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
      - run: npm ci
      - uses: ./
        id: setup
      - run: luarocks install vusted
      - run: ${{ steps.setup.outputs.luajit }} -e "require('busted')"
      - run: busted --version
