name: release
on:
 push:
   tags:
     - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/release-github-actions@052f205daf62dff0c3ece009f07b38f3ec83e01a # v8.0.3
        with:
          BUILD_COMMAND: npm ci
          CLEAN_TARGETS: "*.yml,*.json,*.md,.gitignore,.github,LICENSE"
